<div *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort matSortActive="posteddate" matSortDirection="asc">

    <ng-container matColumnDef="numeroCredito">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Número Crédito</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.numeroCredito}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saldoCapital">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Saldo Capital</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.saldoCapital}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="saldoK">
      <mat-header-cell *matHeaderCellDef mat-sort-header>saldoK</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.saldoK}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="indicador">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Indicador</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.indicador}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomClaaso">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NomClaaso</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomClaaso}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nomClaasoCod">
      <mat-header-cell *matHeaderCellDef mat-sort-header>NomClaasoCod</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomClaasoCod}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="marcacionn">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Marcación</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.marcacionn}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estPersonaDeu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Estado Persona Deudor</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estPersonaDeu}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="estPersonaCoDeu">
      <mat-header-cell *matHeaderCellDef mat-sort-header>estado Persona CoDeudor</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.estPersonaCoDeu}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>