<div *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<h1>Paso 3</h1>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="operarStep4()" class="form-horizontal" #regForm="ngForm">


  <mat-form-field>
    <input matInput placeholder="Sueldo Básico" [(ngModel)]="step.financial.sueldo" formControlName="sueldo"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Sueldo Básico</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('sueldo', 'required')">Sueldo Básico es requerido.</mat-error>
    <mat-error *ngIf="hasError('sueldo', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('sueldo', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('sueldo', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Recargos" [(ngModel)]="step.financial.recargos" formControlName="recargos"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Recargos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('recargos', 'required')">Recargos es requerido.</mat-error>
    <mat-error *ngIf="hasError('recargos', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('recargos', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('recargos', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Bonos" [(ngModel)]="step.financial.bonos" formControlName="bonos"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Bonos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('bonos', 'required')">Bonos.</mat-error>
    <mat-error *ngIf="hasError('bonos', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('bonos', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('bonos', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Compensatorios" [(ngModel)]="step.financial.compensatorios"
      formControlName="compensatorios" (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Compensatorios</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('compensatorios', 'required')">Compensatorios.</mat-error>
    <mat-error *ngIf="hasError('compensatorios', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('compensatorios', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('compensatorios', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Bonificación" [(ngModel)]="step.financial.bonificacion" formControlName="bonificacion"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Bonificación</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('bonificacion', 'required')">Bonificación.</mat-error>
    <mat-error *ngIf="hasError('bonificacion', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('bonificacion', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('bonificacion', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Horas Extras" [(ngModel)]="step.financial.horas_extras" formControlName="horas_extras"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Horas Extras</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('horas_extras', 'required')">Horas Extras.</mat-error>
    <mat-error *ngIf="hasError('horas_extras', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('horas_extras', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('horas_extras', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros Pagos" [(ngModel)]="step.financial.otros_pagos1" formControlName="otros_pagos1"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Otros Pagos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_pagos1', 'required')">Otros Pagos.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos1', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos1', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros Pagos" [(ngModel)]="step.financial.otros_pagos2" formControlName="otros_pagos2"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Otros Pagos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_pagos2', 'required')">Otros Pagos.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos2', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros Pagos" [(ngModel)]="step.financial.otros_pagos3" formControlName="otros_pagos3"
      (change)="onChangeEventSum($event)" [readonly]="step.readonly">
    <span matSuffix>Otros Pagos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_pagos3', 'required')">Otros Pagos.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos3', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_pagos3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>
  <br><br>
  <h1>TOTAL INGRESOS: $&nbsp; {{totalIngresos | number:'.2'}}</h1>



  <mat-form-field>
    <input matInput placeholder="Salud" [(ngModel)]="step.financial.salud" formControlName="salud"
      (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Salud</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('salud', 'required')">Salud es requerido.</mat-error>
    <mat-error *ngIf="hasError('salud', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('salud', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('salud', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Pensión" [(ngModel)]="step.financial.pension" formControlName="pension"
      (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Pensión</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('pension', 'required')">Pensión.</mat-error>
    <mat-error *ngIf="hasError('pension', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('pension', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('pension', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Libranza" [(ngModel)]="step.financial.libranza" formControlName="libranza"
      (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Libranza</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('libranza', 'required')">Libranza.</mat-error>
    <mat-error *ngIf="hasError('libranza', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('libranza', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('libranza', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cuota Sindical" [(ngModel)]="step.financial.cuota_sindical"
      formControlName="cuota_sindical" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Cuota Sindical</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('cuota_sindical', 'required')">Cuota Sindical.</mat-error>
    <mat-error *ngIf="hasError('cuota_sindical', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('cuota_sindical', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('cuota_sindical', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Cuota interna" [(ngModel)]="step.financial.cuota_interna"
      formControlName="cuota_interna" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Cuota interna</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('cuota_interna', 'required')">Cuota interna.</mat-error>
    <mat-error *ngIf="hasError('cuota_interna', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('cuota_interna', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('cuota_interna', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros descuentos" [(ngModel)]="step.financial.otros_decuentos1"
      formControlName="otros_decuentos1" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Otros descuentos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_decuentos1', 'required')">Otros descuentos.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos1', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos1', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros descuentos" [(ngModel)]="step.financial.otros_decuentos2"
      formControlName="otros_decuentos2" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Otros descuentos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_decuentos2', 'required')">Otros descuentos.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos2', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Otros descuentos" [(ngModel)]="step.financial.otros_decuentos3"
      formControlName="otros_decuentos3" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
    <span matSuffix>Otros descuentos</span>
    <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
    <mat-error *ngIf="hasError('otros_decuentos3', 'required')">Otros descuentos.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos3', 'pattern')">Longitud máxima 10 número.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
    <mat-error *ngIf="hasError('otros_decuentos3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    <span matPrefix>$&nbsp;</span>
    <span matSuffix>.00</span>
  </mat-form-field>

  <div *ngIf="isBuyForeignPortfolio">

    <mat-form-field>
      <input matInput placeholder="Valor Compras de Cartera 1" [(ngModel)]="step.financial.compra_cartera1"
        formControlName="compra_cartera1" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Valor Compras de Cartera 1</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_cartera1', 'required')">Valor Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera1', 'pattern')">Error Formato.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera1', 'minlength')">Longitud Minima 1 caracteres.</mat-error>
      <span matPrefix>$&nbsp;</span>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Entidad Compras de Cartera 1" [(ngModel)]="step.financial.entidad_cartera1"
        formControlName="entidad_cartera1" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Entidad Compras de Cartera 1</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('entidad_cartera1', 'required')">Entidad Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera1', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera1', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nit Entidad 1" [(ngModel)]="step.financial.compra_nit1" formControlName="compra_nit1"
        [readonly]="step.readonly">
      <span matSuffix>Nit Entidad 1</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_nit1', 'required')">Nit Entidad.</mat-error>
      <mat-error *ngIf="hasError('compra_nit1', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_nit1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_nit1', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Obligación Compras de Cartera 1" [(ngModel)]="step.financial.obligacion_cartera1"
        formControlName="obligacion_cartera1" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Obligación Compras de Cartera 1</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('obligacion_cartera1', 'required')">Obligación Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera1', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera1', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera1', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Valor Compras de Cartera 2" [(ngModel)]="step.financial.compra_cartera2"
        formControlName="compra_cartera2" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Valor Compras de Cartera 2 </span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_cartera2', 'required')">Valor Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera2', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
      <span matPrefix>$&nbsp;</span>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Entidad Compras de Cartera 2" [(ngModel)]="step.financial.entidad_cartera2"
        formControlName="entidad_cartera2" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Entidad Compras de Cartera 2</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('entidad_cartera2', 'required')">Entidad Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera2', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nit Entidad 2" [(ngModel)]="step.financial.compra_nit2" formControlName="compra_nit2"
        [readonly]="step.readonly">
      <span matSuffix>Nit Entidad 2</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_nit2', 'required')">Nit Entidad.</mat-error>
      <mat-error *ngIf="hasError('compra_nit2', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_nit2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_nit2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Obligación Compras de Cartera 2" [(ngModel)]="step.financial.obligacion_cartera2"
        formControlName="obligacion_cartera2" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Obligación Compras de Cartera 2</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('obligacion_cartera2', 'required')">Obligación Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera2', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera2', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera2', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>


    <mat-form-field>
      <input matInput placeholder="Valor Compras de Cartera 3" [(ngModel)]="step.financial.compra_cartera3"
        formControlName="compra_cartera3" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Valor Compras de Cartera 3</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_cartera3', 'required')">Valor Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera3', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
      <span matPrefix>$&nbsp;</span>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Entidad Compras de Cartera 3" [(ngModel)]="step.financial.entidad_cartera3"
        formControlName="entidad_cartera3" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Entidad Compras de Cartera 3</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('entidad_cartera3', 'required')">Entidad Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera3', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nit Entidad 3" [(ngModel)]="step.financial.compra_nit3" formControlName="compra_nit3"
        [readonly]="step.readonly">
      <span matSuffix>Nit Entidad 3</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_nit3', 'required')">Nit Entidad.</mat-error>
      <mat-error *ngIf="hasError('compra_nit3', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_nit3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_nit3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Obligación Compras de Cartera 3" [(ngModel)]="step.financial.obligacion_cartera3"
        formControlName="obligacion_cartera3" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Obligación Compras de Cartera 3</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('obligacion_cartera3', 'required')">Obligación Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera3', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera3', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera3', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Valor Compras de Cartera 4" [(ngModel)]="step.financial.compra_cartera4"
        formControlName="compra_cartera4" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Valor Compras de Cartera 4</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_cartera4', 'required')">Valor Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera4', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera4', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_cartera4', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
      <span matPrefix>$&nbsp;</span>

    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Entidad Compras de Cartera 4" [(ngModel)]="step.financial.entidad_cartera4"
        formControlName="entidad_cartera4" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Entidad Compras de Cartera 4</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('entidad_cartera4', 'required')">Entidad Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera4', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera4', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('entidad_cartera4', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Nit Entidad 4" [(ngModel)]="step.financial.compra_nit4" formControlName="compra_nit4"
        [readonly]="step.readonly">
      <span matSuffix>Nit Entidad 4</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('compra_nit4', 'required')">Nit Entidad.</mat-error>
      <mat-error *ngIf="hasError('compra_nit4', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('compra_nit4', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('compra_nit4', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Obligación Compras de Cartera 4" [(ngModel)]="step.financial.obligacion_cartera4"
        formControlName="obligacion_cartera4" (change)="onChangeEventSumDes($event)" [readonly]="step.readonly">
      <span matSuffix>Obligación Compras de Cartera 4</span>
      <mat-hint align="end">Longitud máxima 10 número.</mat-hint>
      <mat-error *ngIf="hasError('obligacion_cartera4', 'required')">Obligación Compras de Cartera.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera4', 'pattern')">Longitud máxima 10 número.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera4', 'maxlength')">Longitud máxima 10 caracteres.</mat-error>
      <mat-error *ngIf="hasError('obligacion_cartera4', 'minlength')">Longitud Minima 6 caracteres.</mat-error>
    </mat-form-field>

    <div>
      <button mat-button (click)="callLoadFile()" type='button' class="btn btn-primary px-4" mat-button>
        <mat-icon>file_copy</mat-icon> {{ !step.isUpdate ? 'Cargar Archivos' : 'Actualizar Archivos' }}
      </button>
    </div>

  </div>

  <br><br>
  <h1>TOTAL DESCUENTOS: $&nbsp; {{totalDescuentos | number:'.2'}}</h1>


  <button mat-button (click)="calculateCapacity()" type='button' mat-flat-button class="btn btn-warning">
    <mat-icon>settings_applications</mat-icon>Calcular Capacidad de Endeudamiento
  </button>


  <br><br>
  <h1>INGRESOS MENOS EGRESOS : $&nbsp; {{totalIngresos - totalDescuentos | number:'.2'}}</h1>
  <h1>DISPONIBLE : $&nbsp; {{disponible | number:'.2'}}</h1>
  <h1>VALOR DE LA CUOTA : $&nbsp; {{valorCuotaEstimada | number:'.2'}}</h1>
  <h1>VALOR A DESEMBOLSAR : $&nbsp; {{valorDesembolso | number:'.2'}}</h1>
  <h1 [ngStyle]="{'background-color': color}">DISPONIBLE DESPUÉS DE LA CUOTA : $&nbsp; {{capacidad | number:'.2'}}</h1>


  <mat-form-field>
    <input matInput placeholder="Comentarios" [(ngModel)]="step.comments" formControlName="comments"
      [readonly]="step.readonly">
    <mat-hint align="end">Longitud máxima 1000 caracteres.</mat-hint>
    <mat-error *ngIf="hasError('comments', 'maxlength')">Longitud máxima 1000 caracteres.</mat-error>
  </mat-form-field>


  <div *ngIf="step.isUpdate">
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="NombreDocumento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Documentos </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="action-link">
            <button mat-button color="primary" (click)="openView(row)"
              type='button'><mat-icon>file_copy</mat-icon></button>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>


  <br><br>
  <div class="form-actions">
    <button mat-button (click)="showWindowWallet(step.codTer)" type='button' mat-flat-button class="btn btn-info">
      <mat-icon>remove_red_eye</mat-icon>Portafolio Deudor
    </button>
    <button mat-button (click)="showWindowWallet(step.codeu.codTer)" type='button' mat-flat-button class="btn btn-info">
      <mat-icon>remove_red_eye</mat-icon>Portafolio Codeudor
    </button>
  </div>





  <br><br>
  <div *ngIf="!step.readonly">
    <div class="form-actions">
      <button type="submit" name="ingresar" class="btn btn-primary px-4" mat-button>
        <mat-icon>fast_forward</mat-icon>Continuar
      </button>
    </div>
  </div>
</form>