<div *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<h1>Paso 8</h1>
<form autocomplete="off" [formGroup]="forma" (ngSubmit)="operarStep8()" class="form-horizontal" #regForm="ngForm">

  <button mat-button (click)="sendFiles()" type='button' mat-flat-button class="btn btn-info">
    <mat-icon>account_balance</mat-icon>Enviar Archivos
  </button>

  <button mat-button (click)="callLoadFile()" type='button' mat-flat-button class="btn btn-info">
    <mat-icon>account_balance</mat-icon>{{ !step.isUpdate ? 'Cargar Archivos' : 'Actualizar Archivos' }}
  </button>

  <div *ngIf="step.isUpdate">
    <br><br>
    <div class="example-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="NombreDocumento">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Documentos </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Action </th>
          <td mat-cell *matCellDef="let row" class="action-link">
            <button mat-button color="primary" (click)="openView(row)"
              type='button'><mat-icon>file_copy</mat-icon></button>
          </td>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;">
        </mat-row>
      </mat-table>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <br><br>
  </div>

  <mat-form-field>
    <input matInput placeholder="Comentarios" [(ngModel)]="step.comments" formControlName="comments"
      [readonly]="step.readonly">
    <mat-hint align="end">Longitud máxima 60 caracteres.</mat-hint>
    <mat-error *ngIf="hasError('comments', 'maxlength')">Longitud máxima 120 caracteres.</mat-error>
  </mat-form-field>

  <br><br>
  <div *ngIf="!step.readonly">
    <div class="form-actions">
      <button type="submit" name="ingresar" class="btn btn-primary px-4" mat-button>
        <mat-icon>fast_forward</mat-icon>Continuar
      </button>
    </div>
  </div>
</form>