<button mat-button (click)="returnToPage()" mat-flat-button color="info">
  <mat-icon>fast_rewind</mat-icon>Regresar
</button>
<button mat-button (click)=" activeForm()" mat-flat-button color="primary">
  <mat-icon>playlist_add</mat-icon>Agregar Usuario
</button>
<button mat-button (click)="sync()" mat-flat-button color="primary">
  <mat-icon>compare_arrows</mat-icon>Sincronizar
</button>

<div *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort matTableExporter #exporter="matTableExporter" [hiddenColumns]="[3]">

    <ng-container matColumnDef="usuario">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Nombre</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="perfil">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Perfil</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idProfile}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row" class="action-link">
        <button mat-button color="primary" (click)="actualizar(row)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-button color="warn" (click)="eliminarDialogo(row)">
          <mat-icon>restore_from_trash</mat-icon>
        </button>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button mat-raised-button color="primary"
      (click)="exporter.exportTable('xlsx', {fileName:'wfparameter-step'})">Export to xlsx</button>
    <button id="export" mat-raised-button color="primary"
      (click)="exporter.exportTable('csv', {fileName:'wfparameter-step'})">Export To csv</button>
    <button id="export" mat-raised-button color="primary"
      (click)="exporter.exportTable('json', {fileName:'wfparameter-step'})">Export To json</button>
    <button id="export" mat-raised-button color="primary"
      (click)="exporter.exportTable('txt', {fileName:'wfparameter-step'})">Export To txt</button>
  </div>
</div>

<br>

<div class="animated fadeIn" *ngIf="showFormAdd">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-edit"></i>Usuario
          <div class="card-header-actions">
            <button type="button" class="card-header-action btn btn-link btn-close" (click)="hideForm()"><i
                class="icon-close"></i></button>
          </div>
        </div>
        <div class="card-body">

          <form autocomplete="off" [formGroup]="forma" (ngSubmit)="operar()" class="form-horizontal" #regForm="ngForm">


            <mat-form-field>
              <input matInput type="number" placeholder="Usuario" [(ngModel)]="o.id" formControlName="id" (input)="onSearchUser($event.target.value)"
                [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }" [readonly]="isUpdate">
              <span matSuffix>Usuario</span>
              <mat-hint align="end">Longitud máxima 1 número.</mat-hint>
              <mat-error *ngIf="hasError('id', 'required')">Usuario  es requerido.</mat-error>
              <mat-error *ngIf="hasError('id', 'pattern')">Longitud mínima 8 y máxima 11.</mat-error>
            </mat-form-field>


            <mat-form-field>
              <input matInput placeholder="Nombre" [(ngModel)]="o.name" formControlName="name" readonly
                [ngClass]="{ 'is-invalid': submitted && f.codigo.errors }">
              <mat-hint align="end">Longitud máxima 100 caracteres.</mat-hint>
              <mat-error *ngIf="hasError('name', 'required')">Nombre es requerido.</mat-error>
              <mat-error *ngIf="hasError('name', 'maxlength')">Longitud máxima 100 caracteres.</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Perfil</mat-label>
              <mat-select name="perfil" [(ngModel)]="o.idProfile" formControlName="perfil">
                <mat-option *ngFor="let s of listProfiles" [value]="s.id">{{ s.name }}</mat-option>
              </mat-select>
              <mat-error *ngIf="hasError('perfil', 'required')">Entidad es requerido.</mat-error>
            </mat-form-field>

            <mat-label>Estado</mat-label>
            <mat-radio-group aria-label="Estado" [(ngModel)]="o.estado" formControlName="estado">
              <mat-radio-button value="0">Activo</mat-radio-button>
              <mat-radio-button value="1">Inactivo</mat-radio-button>
              <mat-radio-button value="2">Eliminado</mat-radio-button>
            </mat-radio-group>

            <br><br>
            <div class="form-actions">
              <button type="submit" name="ingresar" class="btn btn-primary px-4" [disabled]="cargando">
                <i class="fa fa-sync fa-spin" *ngIf="cargando"></i>&nbsp;
                <span>Aceptar</span>
              </button>
              <button mat-raised-button color="warn" class="btn btn-secondary" (click)="hideForm()">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>