<div *ngIf="loading">
  <app-progress-spinner></app-progress-spinner>
</div>

<div class="example-header">
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  <button mat-button (click)="openDialog()" mat-flat-button color="primary">Agregar Parametro</button>

</div>

<div class="example-container mat-elevation-z8">

  <mat-table [dataSource]="dataSource" matSort matTableExporter  #exporter="matTableExporter" [hiddenColumns]="[3]">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="text">
      <mat-header-cell *matHeaderCellDef mat-sort-header> TEXTO </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.text}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="value">
      <mat-header-cell *matHeaderCellDef mat-sort-header> VALOR </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.value}} </mat-cell>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let row" class="action-link">
        <button mat-button color="primary" (click)="openDialog(row)">Actualizar</button>
        <button mat-button color="warn" (click)="mostrarDialogo(row)">Eliminar</button>
      </td>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

  <div class="btn-group" role="group" aria-label="Basic example">
    <button mat-raised-button color="primary" (click)="exporter.exportTable('xlsx', {fileName:'parametros'})">Export to xlsx</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('csv', {fileName:'parametros'})">Export To csv</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('json', {fileName:'parametros'})">Export To json</button>
    <button id="export" mat-raised-button color="primary" (click)="exporter.exportTable('txt', {fileName:'parametros'})">Export To txt</button>
    </div>

</div>