// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

.btn-primary {
    color: #fff;
    background-color: #244e92;
    border-color: #4368a5;
}

.btn-success {
    color: #fff;
    background-color: #244e92;
    border-color: #4368a5;
}

.btn-warning {
    color: #fff;
    background-color: #244e92;
    border-color: #4368a5;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #244e92;
    border-color: #4368a5;
}

.btn-link {
    font-weight: 400;
    color: #244e92;
    text-decoration: none;
}

.bg-primary {
    background-color: #244e92 !important;
}


/* Absolute Center Spinner */
.loading-indicator {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
  /* Transparent Overlay */
  .loading-indicator:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
  }